body {
    font-family: Montserrat, sans-serif;
}

.navbar-light {
	background-color: rgba(13, 110, 253, 0.4);
}

.main-bg {
	background-color: #d9b6a3;
}

.landing-bg {
	background-color: #f2dccb;
}

.nav-item {
	color: white;
	padding-top: 20px;
	font-weight: bold;
	font-size: 17px;
}


.shlifim-btn{
	background-color:#A9D4D9;
	color:white;
 	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	border: none;
	text-decoration: none;
	border-radius: 12px;
}

.shlifim-btn:hover {
	text-decoration: none;
	font-weight: bold;
}

.navbar-nav > li {
	padding-left:5px;
	padding-right:5px;
}

#baseNavbar {
	padding: 0;
}

#logo {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#logoIMG {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* Place the navbar at the bottom of the page, and make it stick */
#bottomNavbar {
	background-color: rgba(13, 110, 253, 0.7);
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: .1rem;
	padding-bottom: .1rem;
  }
  
  /* Style the links inside the navigation bar */
  #bottomNavbar a {
	float: left;
	display: block;
	color:  white;
	text-align: center;
	padding: 9px 12px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
  }
  
#navlink {
	color: white;
}