.sales-container {
  margin-top: 20px;
  margin-left: 20px;
  word-wrap: break-word;
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.sale-container {
  background-color: antiquewhite;
  padding: 5px;
  margin: 10px;
}

a.btn-primary {
  background-color: #a9d4d9;
  color: black;
  border-color: white;
  margin-bottom: 12px;
  margin-left: 12px;
}

img {
  float: left;
}
