body {
  background: url("/static/home/background2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.txt {
  color: #ffffff;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.get_started_btn {
  background-color: rgba(243, 194, 105, 0.85);
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  border: none;
  text-decoration: none;
}

.get_started_btn:hover {
  text-decoration: none;
}
