[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
pytest-django = "*"
black = "*"
django-ckeditor = "*"
django-pytest = "*"
pytest = "*"
django-crispy-forms = "*"
django-location-field = "*"

[packages]
django = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
channels = "*"
black = "*"
django-ckeditor = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
