[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}

[packages]
django = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
channels = "*"

[requires]
python_version = "3.8"
