{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Welcome!</title>
	{% endif %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
	  	<a href={% url 'websitepage' website.id website.name%}>
		<img class="m-2" src="/static/home/AGLogo.png" alt="AGLogo logo" width="105" height="120" id="logoIMG"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#"><span>Businesses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href={% url 'businesses' website.id website.name%}>Explore</a></li>
			  {% if user.is_authenticated %}
              <li><a href={% url 'new_business' website.id website.name%}>Add business</a></li>
              <li><a href="#">Edit business</a></li>
              <li><a href="#">Connect business</a></li>
			  {% endif %}
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Sales</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href={% url 'sales' website.id website.name%}>Explore</a></li>
				{% if user.is_authenticated %}
              <li><a href={% url 'new_sale' website.id website.name%}>Add sale</a></li>
              <li><a href={% url 'choose_sale_to_edit' website.id website.name%}>Edit sale</a></li>
				{% endif %}
            </ul>
          </li>              
          <li><a class="nav-link scrollto " href="#portfolio">About us</a></li>
          <li><a class="nav-link scrollto" id="last_left_nav_item" href="#testimonials">Contact us</a></li>
			{% if user.is_authenticated %}
			<li class="dropdown"><a href="#"><span>Hello {{user.username}}!</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
				<li><a href={% url 'edit_profile' website.id website.name user.id %}>Edit profile</a></li>
				{% if user.profile.is_vip is False %}
				<li><a href={% url 'premium' website.id website.name %}>Upgrade</a></li>
				{% endif %} 
				{% if website_profile_pair.is_admin is True %}
				<li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-right"></i></a>
					<ul>
					<li><a href="#">Edit businesses</a></li>
					<li><a href="#">Edit sales</a></li>
					<li><a href="#">Edit profiles</a></li>
					</ul>
				</li>
				{% endif %} 
				</ul>
			</li>
            <li><a class="nav-link scrollto" href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a></li>
			{% else %}
            <li><a class="nav-link scrollto" id="right_nav_item" href="{% url 'login' website.id website.name %}?next={% firstof request.path '/' %}">Login</a></li>
            <li><a class="nav-link scrollto" href={% url 'signup' website.id website.name %}>Sign up</a></li>
			{% endif %} 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
		<strong>{{ message.message.title }} </strong> {{ message.message.message_content }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	{% endfor %}

	{% block content %}{% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'home/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'home/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/js/main.js' %}"></script>

</body>

</html>