{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/animate.css/animate.min.css' %}" rel="stylesheet">


		<!-- JS scripts-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Welcome!</title>
	{% endif %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto" id="last_left_nav_item">
	  	<a href={% url 'websitepage' website.id website.name%}>
		<img class="m-2" src="{{website.logo.url}}" alt="AGLogo logo" id="logoIMG"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#" id="first_left_nav_item"><span>Businesses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href={% url 'businesses' website.id website.name%}>Explore</a></li>
			  {% if user.is_authenticated %}
              <li><a href={% url 'new_business' website.id website.name%}>Add business</a></li>
              <li><a href={% url 'choose_business_to_edit' website.id website.name%}>Edit business</a></li>
              <li><a href="#">Connect business</a></li>
			  {% endif %}
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Sales</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href={% url 'sales' website.id website.name%}>Explore</a></li>
				{% if user.is_authenticated %}
              <li><a href={% url 'new_sale' website.id website.name%}>Add sale</a></li>
              <li><a href={% url 'choose_sale_to_edit' website.id website.name%}>Edit sale</a></li>
				{% endif %}
            </ul>
          </li>              
          <li><a class="nav-link scrollto " href="#portfolio">About us</a></li>
          <li><a class="nav-link scrollto" id="last_left_nav_item" href="#testimonials">Contact us</a></li>
			{% if user.is_authenticated %}
			<li class="dropdown"><a href="#"><span>Hello {{user.username}}!</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
				<li><a href={% url 'edit_profile' website.id website.name user.id %}>Edit profile</a></li>
				{% if user.profile.is_vip is False %}
				<li><a href={% url 'premium' website.id website.name %}>Upgrade</a></li>
				{% endif %} 
				{% if website_profile_pair.is_admin is True %}
				<li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-right"></i></a>
					<ul>
					<li><a href="#">Edit businesses</a></li>
					<li><a href="#">Edit sales</a></li>
					<li><a href="#">Edit profiles</a></li>
					</ul>
				</li>
				{% endif %} 
				</ul>
			</li>
            <li><a class="nav-link scrollto" href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a></li>
			{% else %}
            <li><a class="nav-link scrollto" id="right_nav_item" href="{% url 'login' website.id website.name %}?next={% firstof request.path '/' %}">Login</a></li>
            <li><a class="nav-link scrollto" href={% url 'signup' website.id website.name %}>Sign up</a></li>
			{% endif %} 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>

  </header><!-- End Header -->

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message.message.title }} </strong> {{ message.message.message_content }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

	{% block content %}{% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'home/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'home/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/js/websitepage.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</body>

</html>
