{% extends "home/base.html" %} {% load static %} {% block content %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'home/css/businesses_style.css' %}"
/>

<body>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Answers Part -->
        <article class="businesses-container">
          {% for website_business_pair in website_business_pairs %}
            {% if website_business_pair.is_confirmed %}
            <div class="card business-container" style="width: 18rem">
              <img
                class="card-img-top"
                src="{{ website_business_pair.business.logo.url }}"
                alt="Card image cap"
                width="30"
                height="230"
              />
              <div class="card-body">
                <h5 class="card-title">{{ website_business_pair.business.name}}</h5>
                <p class="card-text">{{ website_business_pair.business.description|safe }}</p>
                <a href="{% url 'business-page' website.id website.name website_business_pair.business.id website_business_pair.business.name %}" class="btn btn-primary">Go to site</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </article>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
