{% extends "home/base.html" %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'home/CSS/landing-page.css' %}"
/>
<body class="landing-bg">
  <div class="center">
    {% comment %}
    <img
      src="{% static 'home/animated-logo.gif' %}"
      alt="Shlifim Logo gif"
      class="row rounded mx-auto d-block my-5"
    />
    {% endcomment %}
    <div class="text-center">
      {% comment %} "{% url 'explore-page' %}" {% endcomment %}
      <a
        href="#"
        type="button"
        class="btn m-4 get_started_btn rounded-pill active"
        aria-pressed="true"
        >Get Started</a
      >
    </div>
  </div>
</body>
{% endblock content %}
