{% load custom_tags %}

<nav id="navbar" class="navbar order-last order-lg-0" style="background-color:'{{website.navbar_background_color}}'">
    <ul style="background-color:{{website.navbar_background_color}}">
      {% if user.is_authenticated is False %}
      <li><a href={% url 'businesses' website.id website.name%} style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Businesses</a></li>
      <li><a href={% url 'sales' website.id website.name%} style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Sales</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="dropdown"><a href="#" id="first_left_nav_item"><span style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Businesses</span>
        <i class="bi bi-chevron-down" style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'"></i></a>
        <ul style="background-color:{{website.navbar_background_color}}">
          <li><a href={% url 'businesses' website.id website.name%} style="color:{{website.navbar_text_color}}"
            onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Explore</a></li>
          <li><a href={% url 'new_business' website.id website.name%} style="color:{{website.navbar_text_color}}"
            onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Add business</a></li>
          <li><a href={% url 'connect_businesses_page' website.id website.name%} style="color:{{website.navbar_text_color}}"
            onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Connect business</a></li>
        </ul>
      </li>

      <li class="dropdown"><a href="#"><span style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Sales</span>
        <i class="bi bi-chevron-down" style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'"></i></a>
        <ul style="background-color:{{website.navbar_background_color}}">
          <li><a href={% url 'sales' website.id website.name%} style="color:{{website.navbar_text_color}}"
            onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Explore</a></li>
          <li><a href={% url 'new_sale' website.id website.name%} style="color:{{website.navbar_text_color}}"
            onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Add sale</a></li>
        </ul>
      </li>
      {% endif %}              
      <li><a href={% url 'contact_us' website.id website.name %} class="nav-link scrollto" id="last_left_nav_item" style="color:{{website.navbar_text_color}}"
        onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Contact us</a></li>
        {% if user.is_authenticated %}
          <div class="nav-item">
            {% show_notifications website %}
          </div>
        <li class="dropdown"><a href="#"><span  style="color:{{website.navbar_text_color}}"
          onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Hello {{user.username}}!</span>
          <i class="bi bi-chevron-down" style="color:{{website.navbar_text_color}}"
          onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'"></i></a>
            <ul style="background-color:{{website.navbar_background_color}}">
            <li><a href={% url 'edit_profile' website.id website.name user.id %} style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Edit profile</a></li>
            {% if is_profile_admin is True %}
            <li><a href=# style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>My malls</a></li>
            {% endif %}
            <li><a href={% url 'my_businesses' website.id website.name%} style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>My stores</a></li>
            <li><a href={% url 'my_sales' website.id website.name%} style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>My sales</a></li>
            {% if user.profile.is_vip is False %}
            <li><a href={% url 'premium' website.id website.name %} style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Upgrade</a></li>
            {% endif %} 
            {% if website_profile_pair.is_admin is True %}
            <li class="dropdown"><a href="#"><span style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Admin</span>
              <i class="bi bi-chevron-right" style="color:{{website.navbar_text_color}}"
              onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'"></i></a>
                <ul style="background-color:{{website.navbar_background_color}}">
                <li><a href={% url 'admin_businesses' website.id website.name %} style="color:{{website.navbar_text_color}}"
                  onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Edit businesses</a></li>
                <li><a href={% url 'admin_sales' website.id website.name "All" %} style="color:{{website.navbar_text_color}}"
                  onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Edit sales</a></li>
                <li><a href="#" style="color:{{website.navbar_text_color}}"
                  onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Edit profiles</a></li>
                </ul>
            </li>
            {% endif %} 
            </ul>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'logout' %}?next={% firstof request.path '/' %}" style="color:{{website.navbar_text_color}}"
          onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" id="right_nav_item" href="{% url 'login' website.id website.name %}?next={% firstof request.path '/' %}" style="color:{{website.navbar_text_color}}"
          onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Login</a></li>
        <li><a class="nav-link scrollto" href={% url 'signup' website.id website.name %} style="color:{{website.navbar_text_color}}"
          onmouseover="this.style.color = '{{website.navbar_hover_text_color}}'"; onmouseout="this.style.color='{{website.navbar_text_color}}'";>Sign up</a></li>
        {% endif %} 
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

  