{% load custom_tags %}

<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
      <li class="dropdown"><a href="#" id="first_left_nav_item"><span>Businesses</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href={% url 'businesses' website.id website.name%}>Explore</a></li>
          {% if user.is_authenticated %}
          <li><a href={% url 'new_business' website.id website.name%}>Add business</a></li>
          <li><a href={% url 'choose_business_to_edit' website.id website.name%}>Edit business</a></li>
          <li><a href={% url 'connect_businesses_page' website.id website.name%}>Connect business</a></li>
          {% endif %}
        </ul>
      </li>
      <li class="dropdown"><a href="#"><span>Sales</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href={% url 'sales' website.id website.name%}>Explore</a></li>
            {% if user.is_authenticated %}
          <li><a href={% url 'new_sale' website.id website.name%}>Add sale</a></li>
          <li><a href={% url 'choose_sale_to_edit' website.id website.name%}>Edit sale</a></li>
            {% endif %}
        </ul>
      </li>              
      <li><a class="nav-link scrollto " href="#portfolio">About us</a></li>
      <li><a class="nav-link scrollto" id="last_left_nav_item" href="#testimonials">Contact us</a></li>
        {% if user.is_authenticated %}
          <div class="nav-item">
            {% show_notifications %}
          </div>
        <li class="dropdown"><a href="#"><span>Hello {{user.username}}!</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            <li><a href={% url 'edit_profile' website.id website.name user.id %}>Edit profile</a></li>
            {% if user.profile.is_vip is False %}
            <li><a href={% url 'premium' website.id website.name %}>Upgrade</a></li>
            {% endif %} 
            {% if website_profile_pair.is_admin is True %}
            <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                <li><a href={% url 'admin_businesses' website.id website.name %}>Edit businesses</a></li>
                <li><a href={% url 'admin_sales' website.id website.name "All" %}>Edit sales</a></li>
                <li><a href="#">Edit profiles</a></li>
                </ul>
            </li>
            {% endif %} 
            </ul>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" id="right_nav_item" href="{% url 'login' website.id website.name %}?next={% firstof request.path '/' %}">Login</a></li>
        <li><a class="nav-link scrollto" href={% url 'signup' website.id website.name %}>Sign up</a></li>
        {% endif %} 
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->