{% extends "home/base.html" %} {% load static %} {% block content %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'home/CSS/display_sales_style.css' %}"
/>

<body class="main-bg">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Answers Part -->
        <article class="sales-container">
          {% for sale in sales %}
          <div class="card sale-container" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{ sale.picture.url }}"
              alt="Card image cap"
              width="30"
              height="230"
            />
            <div class="card-body">
              <h5 class="card-title">{{ sale.title}}</h5>
              <p class="card-text">{{ sale.description }}</p>
              <div class="col-12">
                <b>by {{ sale.business.name }}</b>
              </div>
              <a href="{{ sale.business.URL }}" class="btn btn-primary">Go to site</a>
            </div>
          </div>
          {% endfor %}
        </article>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
